<div class="Container">
 <%= form_for(state, :remote=>true) do |f| %>
  
   <% if state.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

       <ul>
         <% state.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
     </div>
   <% end %>
  

    <div class="form-group">
      <label class="col-sm-2 control-label">State_Name</label>
      <div class="col-sm-6  inputGroupContainer">
        
       <%= f.text_field :state_name, :placeholder=>"StateName", :class=>"form-control",required: true %>
      </div>
    </div><br><br><br>

    <div class="form-group">
      <label class="col-sm-2 control-label">Country</label>
      <div class="col-sm-3  inputGroupContainer">
        <%=f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},{},:prompt => "Select Country", :class=>"form-control") %>
      </div>
    </div><br><br><br>

  
   <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-3">
        <%=f.submit :class=>"btn btn-success" %>
      </div>
    </div><br><br>
  <% end %>
</div>
