<div class="Container">
 <%= form_for company do |f| %>
  
   <% if company.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

       <ul>
         <% company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
     </div>
   <% end %>
  

    <div class="form-group">
      <label class="col-sm-1 control-label">Name</label>
      <div class="col-sm-6  inputGroupContainer">
        
       <%= f.text_field :name, :placeholder=>"Name", :class=>"form-control" %>
      </div>
    </div><br><br><br>

    <div class="form-group">
      <label class="col-sm-1 control-label">Country</label>
      <div class="col-sm-3  inputGroupContainer">
        <%=f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},{},:prompt => "Select Country", :class=>"form-control") %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label">State</label>
      <div class="col-sm-3  inputGroupContainer">
       <div class="statecontainer">
         <%=f.select(:state_id, State.all.collect {|u| [u.state_name, u.id]},{},:prompt => "Select state", :class=>"form-control") %>
        </div>
      </div>
    </div>
        
    <div class="form-group">
     <label class="col-sm-1 control-label">City</label>
      <div class="col-sm-3  inputGroupContainer">
       <div class="citycontainer">
         <%=f.select(:city_id, City.all.collect {|u| [u.city_name, u.id]},{},:prompt => "Select City", :class=>"form-control") %><br>
        </div>
      </div>
    </div><br>
  

    <div class="form-group">
      <label class="col-sm-1 control-label">Postcode</label>
      <div class="col-sm-3  inputGroupContainer">
       <%= f.text_field :postcode , :placeholder=>"postcode", :class=>"form-control" %>
      </div>
    </div><br><br>

   <div class="form-group">
      <label class="col-sm-1 control-label">Start_date</label>
      <div class="col-sm-3  inputGroupContainer">
        <%= f.text_field :start_date, :id=>"datetimepicker1",:class=>"form-control" %>
      </div>
    </div>
   
    <div class="form-group">
      <label class="col-sm-1 control-label">Active</label>
      <div class="col-sm-1  inputGroupContainer">
       <%= f.check_box :active , :class=>"form-control" %><br>
      </div>
    </div><br><br><br>
  
   <div class="form-group">
      <label class="col-md-7 control-label"></label>
      <div class="col-md-4">
        <%=f.submit :class=>"btn btn-success" %>
      </div>
    </div><br><br>
  <% end %>
</div>


<script>
$(document).ready(function() {
$('#company_country_id').change(function(){
  var country =  $('#company_country_id').val()
  $.ajax({
    url: "/states/get_states",
    type: "GET",
    data: {country: country},
  });
});
});
</script>


 <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
            </script>


