<p id="notice"><%= notice %></p>
<div class="company-container">
<h1>Companies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Start date</th>
      <th>Active</th>
    </tr>
  </thead>

  <% @companies.each do |company| %>
        <td><%= company.name %></td>
         <td><%if company.country_id.present? %> 
          <%= Country.find(company.country_id).country_name %> 
           <% end %> </td>
         <td><%if company.state_id.present? %> 
        <%= State.find(company.state_id).state_name %> 
    <% end %> </td>
         <td> <%if company.city_id.present? %> 
     <%= City.find(company.city_id).city_name %> 
    <% end %> </td>
        <td><%= company.postcode %></td>
         <td><%= company.start_date %></td>
         <td><%= company.active %></td>
         
         <td><%= link_to 'Show', show_page_company_path(company),:class=>"btn btn-info",:remote => true, 'data-toggle' =>"modal",'data-target' =>'#myModal' %></td>

         <td><%= link_to 'Edit', edit_company_company_path(company),:class=>"btn btn-warning",:remote => true, 'data-toggle' =>"modal",'data-target' =>'#myModal1' %></td>
         
         <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
</table>

<%= link_to 'New Company', new_company_path %>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Company Info</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
       <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
     </div>
    </div>
</div>
 
 <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title"> update Company Info</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
       <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
     </div>
    </div>
</div>